interactions:
- request:
    body: '{"name":"Gemini Web Search","parameters":{"query":{"name":"query","value":"sustainable
      technology solutions"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: '{"rawResponse":{"result":"{\"aiWebSearch\":{\"response\":\"Sustainable
        technology solutions are technologies that are created or applied with consideration
        of environmental, social, and economic factors. The goal is to develop new
        technologies using sustainable processes and materials and to address environmental,
        social, and governance (ESG) issues.\\n\\nHere''s a breakdown of key areas
        and examples:\\n\\n**1. Renewable Energy Technologies**\\n\\n*   **Solar Power:**  Photovoltaic
        (PV) pan[...]
