interactions:
- request:
    body: '{"name":"Code Search","parameters":{"query":{"name":"query","value":""}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: '

        <html><head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8">

        <title>502 Server Error</title>

        </head>

        <body text=#000000 bgcolor=#ffffff>

        <h1>Error: Server Error</h1>

        <h2>The server encountered a temporary error and could not complete your request.<p>Please
        try again in 30 seconds.</h2>

        <h2></h2>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 502
      message: Bad Gateway
version: 1
