interactions:
- request:
    body: '{"name":"Gemini Web Search","parameters":{"query":{"name":"query","value":"comparative
      analysis of LLM models GPT vs Claude performance benchmarks"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: '{"rawResponse":{"result":"{\"aiWebSearch\":{\"response\":\"The performance
        benchmarks of GPT and Claude models are frequently compared, and here''s a
        summary of how they generally stack up:\\n\\n**Overall Performance:**\\n\\n*   **Claude
        3 Opus** generally demonstrates superior performance across a spectrum of
        tasks that test for knowledge and reasoning abilities, with an especially
        notable advantage in complex reasoning and coding tasks.\\n*   **GPT-4o**
        shines in consistency and well-rounded performance, particularly in knowledge-based
        tasks.\\n\\n**Specific Benchmarks:**\\n\\n*   **Software Engineering (SWE-bench):**
        Claude Opus 4 scores significantly higher than GPT-4.1.\\n*   **Graduate-Level
        Reasoning:** Claude Opus 4 outperforms GPT-4.1.\\n*   **High School Math:**
        Claude Opus achieves a high score, while GPT-4.1 didn''t report results for
        this test.\\n*   **Multilingual Q&A:** Claude Opus leads GPT-4.1.\\n*   **Visual
        Reasoning:** Claude Opus performs slightly better than GPT-4.1.\\n*   **Agentic
        Tool Use:** Claude Opus demonstrates better performance in retail and airline
        settings compared to GPT-4.1.\\n*   **HumanEval Coding Benchmark:** Claude
        3.5 Sonnet significantly outperforms GPT-4o.\\n\\n**Other factors:**\\n\\n*   **Context
        Window:** Claude 3 has a larger context window than GPT-4, allowing it to
        hold more information in its memory.\\n*   **Cost:** GPT-4.1 is more cost-efficient
        for high-volume use cases, while Claude Opus 4 is more expensive but may be
        justified for scenarios where accuracy is critical.\\n\\nKeep in mind that
        these benchmarks can change as models are updated.\\n\",\"groundingChunks\":[{\"sourceFile\":{\"id\":\"0822480ef2dd4c80acb0face7cb84876\",\"url\":\"https://community.openai.com/t/gpt4-comparison-to-anthropic-opus-on-benchmarks/726147\",\"name\":\"openai.com\"},\"citableContent\":[\"*   **Claude
        3 Opus** generally demonstrates superior performance across a spectrum of
        tasks that test for knowledge and reasoning abilities, with an especially
        notable advantage in complex reasoning and coding tasks.\"],\"textRanges\":[{\"startIndex\":374,\"endIndex\":374}]},{\"sourceFile\":{\"id\":\"e8695e8c0941404db9692ba6d0508463\",\"url\":\"https://www.getcensus.com/blog/gpt-vs-claude-whats-the-best-ai-model\",\"name\":\"getcensus.com\"},\"citableContent\":[\"*   **Claude
        3 Opus** generally demonstrates superior performance across a spectrum of
        tasks that test for knowledge and reasoning abilities, with an especially
        notable advantage in complex reasoning and coding tasks.\",\"*   **GPT-4o**
        shines in consistency and well-r[...]
