interactions:
- request:
    body: '{"name":"Outlook Search","parameters":{"query":{"name":"query","value":"project
      deadline reminder"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: 'Error generating response

        '
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
version: 1
