interactions:
- request:
    body: '{"name":"Employee Search","parameters":{"query":{"name":"query","value":"engineering
      department"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"glean_11439343465145122997\\\",\\\"trackingToken\\\":\\\"SEARCH_4Vtf4MelSjDPVHwQ,Cl4KF1NFQVJDSF80VnRmNE1lbFNqRFBWSHdRGhpnbGVhbl8xMTQzOTM0MzQ2NTE0NTEyMjk5NyIFZ2xlYW4qA2FsbDIIRG9jdW1lbnQ6EVBVQkxJU0hFRF9DT05URU5U\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Glean
        for Engineering\\\",\\\"datasource\\\":\\\"glean\\\",\\\"url\\\":\\\"https://www.glean.com/jp/resources/product-videos/glean-for-engineering\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Glean
        for Engineering\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Extension\u30B5\u30A4\u30F3\u30A4\u30F3\u9867\u5BA2\u30BD\u30EA\u30E5\u30FC\u30B7\u30E7\u30F3
        \ \u90E8\u9580\u30C1\u30FC\u30E0\u4E00\u89A7\u30A8\u30F3\u30B8\u30CB\u30A2\u30EA\u30F3\u30B0\u30AB\u30B9\u30BF\u30DE\u30FC\u30B5\u30FC\u30D3\u30B9\u30BB\u30FC\u30EB\u30B9\u4EBA\u4E8B\u30FB\u7DCF\u52D9IT\u696D\u754C\u5C0F\u58F2\u91D1\u878D\u30B5\u30FC\u30D3\u30B9\u30B5\u30A4\u30F3\u30A4\u30F3WebinarAI-powered
        engineering\u30A6\u30A7\u30D3\u30CA\u30FC\u3092\u898B\u308B  \u30EA\u30BD\u30FC\u30B9
        \ \u63A2\u7D22\u3059\u308B\u30D6\u30ED\u30B0\u30D7\u30ED\u30F3\u30D7\u30C8
        \u30E9\u30A4\u30D6\u30E9\u30EA\u30AC\u30A4\u30C9\u88FD\u54C1\u52D5\u753B\u53C2\u52A0\u3059\u308B\u30A6\u30A7\u30D3\u30CA\u30FC\u30CB\u30E5\u30FC\u30B9\u30EB\u30FC\u30E0Glean:GOEventsGleaniverse
        Community\u30B5\u30DD\u30FC\u30C8\\\"}],\\\"updateTime\\\":\\\"2025-06-03\\\",\\\"similarResults\\\":{\\\"numResults\\\":1}},{\\\"id\\\":\\\"blogs_18083028294636081723\\\",\\\"trackingToken\\\":\\\"SEARCH_4Vtf4MelSjDPVHwQ,CmIKF1NFQVJDSF80VnRmNE1lbFNqRFBWSHdREAEaGmJsb2dzXzE4MDgzMDI4Mjk0NjM2MDgxNzIzIgVibG9ncyoDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlRAAQ==\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Why
        prompt engineering is essential for CIOs to deliver AI transformation\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/glean-cio-prompt-eng-ai-transform\\\",\\\"snippet[...]
