interactions:
- request:
    body: '{"name":"Meeting Lookup","parameters":{"query":{"name":"query","value":"one-on-one
      meetings"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"glean_5006207680345555837\\\",\\\"trackingToken\\\":\\\"SEARCH_oGzXuNOCCXh6w0GQ,Cl0KF1NFQVJDSF9vR3pYdU5PQ0NYaDZ3MEdRGhlnbGVhbl81MDA2MjA3NjgwMzQ1NTU1ODM3IgVnbGVhbioDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlQ=\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Google
        Calendar integration with Glean | Glean Work AI\\\",\\\"datasource\\\":\\\"glean\\\",\\\"url\\\":\\\"https://www.glean.com/connectors/google-calendar\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"To
        use the integration, you will need to authenticate yourself in Glean through
        Google Calendar, after which point our app will be allowed to make API calls
        as you. \\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Google
        Calendar is designed for teams and allows people to schedule meetings and
        events\\\"}],\\\"updateTime\\\":\\\"2025-06-03\\\",\\\"similarResults\\\":{\\\"numResults\\\":1}},{\\\"id\\\":\\\"ZENDESK_0_Article_32443041250587\\\",\\\"trackingToken\\\":\\\"SEARCH_oGzXuNOCCXh6w0GQ,CmUKF1NFQVJDSF9vR3pYdU5PQ0NYaDZ3MEdREAEaIFpFTkRFU0tfMF9BcnRpY2xlXzMyNDQzMDQxMjUwNTg3Igd6ZW5kZXNrKgNhbGwyB2FydGljbGU6DUtOT1dMRURHRV9IVUJAAQ==\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"GOOGLECALENDAR-1\\\",\\\"datasource\\\":\\\"zendesk\\\",\\\"url\\\":\\\"https://support.glean.com/hc/en-us/articles/32443041250587-GOOGLECALENDAR-1\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Google
        Calendar uses the Directory Admin configured for the GDRIVE App. \\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Ensure
        a Directory Admin e-mail is set in the GDRIVE App and that this is a valid
        email account on the Google Calendar service.\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"not
        connect to Google Calendar service.\\\"}],\\\"owner\\\":{\\\"id\\\":\\\"0773496074B958531FFB82B4ACAEA86D\\\",\\\"name\\\":\\\"Akash
        Sagar\\\",\\\"pronoun\\\":\\\"None\\\"},\\\"updateTime\\\":\\\"2025-01-12\\\"},{\\\"id\\\":\\\"blogs_8821533716902200094\\\",\\\"trackingToken\\\":\\\"SEARCH_oGzXuNOCCXh6w0GQ,CmEKF1NFQVJDSF9vR3pYdU5PQ0NYaDZ3MEdREAIaGWJsb2dzXzg4MjE1MzM3MTY5MDIyMDAwOTQiBWJsb2dzKgNhbGwyCERvY3VtZW50OhFQVUJMSVNIRURfQ09OVEVOVEAC\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Glean
        Platform Apps Launch: Powering Workplace Efficiency with AI\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/glean-platfor[...]
