interactions:
- request:
    body: '{"name":"Employee Search","parameters":{"query":{"name":"query","value":"frontend
      developer React"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"devdocs_4357926754481314936\\\",\\\"trackingToken\\\":\\\"SEARCH_WHmMMNHP0krPya8G,CmEKF1NFQVJDSF9XSG1NTU5IUDBrclB5YThHGhtkZXZkb2NzXzQzNTc5MjY3NTQ0ODEzMTQ5MzYiB2RldmRvY3MqA2FsbDIIRG9jdW1lbnQ6EVBVQkxJU0hFRF9DT05URU5U\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"React
        - Glean Developer Portal\\\",\\\"datasource\\\":\\\"devdocs\\\",\\\"url\\\":\\\"https://developers.glean.com/web/guides/react\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"React
        - Glean Developer Portal\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Glean
        Developer Portal home pageSearch...\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"React\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Glean
        Developer Portal home pageSearch...Ask AISearch...NavigationGuidesReactGuides\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"#
        React\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Integrate
        Glean Search into your React application\\\"}]},{\\\"id\\\":\\\"blogs_358727392061223514\\\",\\\"trackingToken\\\":\\\"SEARCH_WHmMMNHP0krPya8G,CmAKF1NFQVJDSF9XSG1NTU5IUDBrclB5YThHEAEaGGJsb2dzXzM1ODcyNzM5MjA2MTIyMzUxNCIFYmxvZ3MqA2FsbDIIRG9jdW1lbnQ6EVBVQkxJU0hFRF9DT05URU5UQAE=\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Can
        AI really double developer productivity?\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/ai-developer-productivity\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Researching
        solutions, writing and reviewing documentation, responding to bugs, answering
        questions, and collaborating with teammates can take up as much as 75% of
        a developer\u2019s day. \\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Can
        AI really double developer productivity?\\\"}],\\\"updateTime\\\":\\\"2025-06-03\\\"},{\\\"id\\\":\\\"devdocs_9066465201548448969\\\",\\\"trackingToken\\\":\\\"SEARCH_WHmMMNHP0krPya8G,CmUKF1NFQVJDSF9XSG1NTU5IUDBrclB5YThHEAIaG2RldmRvY3NfOTA2NjQ2NTIwMTU0ODQ0ODk2OSIHZGV2ZG9jcyoDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlRAAg==\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Brightspot
        - Glean Developer Portal\\\",\\\"datasource\\\":\\\"devdocs\\\",\\\"url\\\":\\\"https://developers.glean.com/web/guides/brightspot\\\",\\\"snippets\\\":[{\\\"source\\\":\\[...]
