interactions:
- request:
    body: '{"name":"Employee Search","parameters":{"query":{"name":"query","value":"Sarah
      Johnson product manager"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"blogs_5371868727879051360\\\",\\\"trackingToken\\\":\\\"SEARCH_5F0gTVryga1NHjUH,Cl0KF1NFQVJDSF81RjBnVFZyeWdhMU5IalVIGhlibG9nc181MzcxODY4NzI3ODc5MDUxMzYwIgVibG9ncyoDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlQ=\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"25
        AI prompts for product managers\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/25-ai-prompts-for-product-managers\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"25
        AI prompts for product managers\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"#
        25 AI prompts for product managers\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"The
        blog presents 25 AI-powered prompts designed for product managers to enhance
        productivity by automating tasks such as summarizing feedback, drafting documents,
        and analyzing\\\"}],\\\"updateTime\\\":\\\"2025-06-03\\\"},{\\\"id\\\":\\\"blogs_11724606145070641740\\\",\\\"trackingToken\\\":\\\"SEARCH_5F0gTVryga1NHjUH,CmIKF1NFQVJDSF81RjBnVFZyeWdhMU5IalVIEAEaGmJsb2dzXzExNzI0NjA2MTQ1MDcwNjQxNzQwIgVibG9ncyoDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlRAAQ==\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Work
        AI blog - AI agents, assistant, and search resources\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_[...]
