interactions:
- request:
    body: '{"name":"Gemini Web Search","parameters":{"query":{"name":"query","value":"invalid
      query that causes error"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: '{"rawResponse":{"result":"{\"aiWebSearch\":{\"response\":\"I am sorry,
        I cannot fulfill this request. I am unable to respond due to the nature of
        the prompt. Can I help with something else?\\n\"}}"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
