interactions:
- request:
    body: '{"name":"Gemini Web Search","parameters":{"query":{"name":"query","value":"cybersecurity
      best practices"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: '{"rawResponse":{"result":"{\"aiWebSearch\":{\"response\":\"Here are
        some cybersecurity best practices for businesses and individuals:\\n\\n*   **Implement
        a people-first cybersecurity strategy:** Equip employees with the education
        they need to be able to recognize potential threats.\\n*   **Use strong passwords:**
        Use a combination of uppercase and lowercase letters, special characters,
        and numbers to create a strong password.\\n*   **Use a Password Manager:**
        Employees can securely share, [...]
