interactions:
- request:
    body: '{"name":"Employee Search","parameters":{"query":{"name":"query","value":"security
      engineer DevOps"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"glean_6966963616891231816\\\",\\\"trackingToken\\\":\\\"SEARCH_6ReujndsukPh6WK7,Cl0KF1NFQVJDSF82UmV1am5kc3VrUGg2V0s3GhlnbGVhbl82OTY2OTYzNjE2ODkxMjMxODE2IgVnbGVhbioDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlQ=\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Azure
        DevOps (Beta) integration with Glean | Glean Work AI\\\",\\\"datasource\\\":\\\"glean\\\",\\\"url\\\":\\\"https://www.glean.com/connectors/azure-devops\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Azure
        DevOps captures relevant documentation that provides context into engineering
        projects and code. \\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Engineering
        organizations often use Azure Wikis for documentation and project management.
        \\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"view
        into engineering work whether that be a\\\"}],\\\"updateTime\\\":\\\"2025-06-03\\\",\\\"similarResults\\\":{\\\"numResults\\\":1}},{\\\"id\\\":\\\"blogs_11942759329610652094\\\",\\\"trackingToken\\\":\\\"SEARCH_6ReujndsukPh6WK7,CmIKF1NFQVJDSF82UmV1am5kc3VrUGg2V0s3EAEaGmJsb2dzXzExOTQyNzU5MzI5NjEwNjUyMDk0IgVibG9ncyoDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlRAAQ==\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Secure
        generative AI: right permissions for enterprise\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/secure-generative-ai-for-the-enterprise-requires-the-right-permissio[...]
