interactions:
- request:
    body: '{"name":"Glean Search","parameters":{"query":{"name":"query","value":"invalid
      query that causes error"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"ZENDESK_0_Article_30458821065883\\\",\\\"trackingToken\\\":\\\"SEARCH_4YnQjNPBobbaaLzD,CmEKF1NFQVJDSF80WW5Rak5QQm9iYmFhTHpEGiBaRU5ERVNLXzBfQXJ0aWNsZV8zMDQ1ODgyMTA2NTg4MyIHemVuZGVzayoDYWxsMgdhcnRpY2xlOg1LTk9XTEVER0VfSFVC\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Rest
        API Error Messages and Codes\\\",\\\"datasource\\\":\\\"zendesk\\\",\\\"url\\\":\\\"https://support.glean.com/hc/en-us/articles/30458821065883-Rest-API-Error-Messages-and-Codes\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"In
        this article, we will explore the most common error messages and codes you
        might encounter while using Gleans' REST APIs, explain their causes, and provide
        guidance on how to resolve them\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"This
        error occurs when the server\\\"}],\\\"owner\\\":{\\\"id\\\":\\\"0CD4E7E7AC0309B4189C400D7C18B602\\\",\\\"name\\\":\\\"Iliana
        Portugal\\\",\\\"pronoun\\\":\\\"None\\\"},\\\"updateTime\\\":\\\"2024-11-01\\\"},{\\\"id\\\":\\\"blogs_14157498475934972208\\\",\\\"trackingToken\\\":\\\"SEARCH_4YnQjNPBobbaaLzD,CmIKF1NFQVJDSF80WW5Rak5QQm9iYmFhTHpEEAEaGmJsb2dzXzE0MTU3NDk4NDc1OTM0OTcyMjA4IgVibG9ncyoDYWxsMghEb2N1bWVudDoRUFVCTElTSEVEX0NPTlRFTlRAAQ==\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Essential
        crawler for building a workplace ChatGPT\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/why-a-great-crawler-is-essential-for-building-a-workplac[...]
