interactions:
- request:
    body: '{"name":"Employee Search","parameters":{"query":{"name":"query","value":"data
      scientist machine learning"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"searchResponse\\\":{\\\"documents\\\":[{\\\"id\\\":\\\"blogs_17991257366096817487\\\",\\\"trackingToken\\\":\\\"SEARCH_qbCY7ghzFVFwZFP4,Cl4KF1NFQVJDSF9xYkNZN2doekZWRndaRlA0GhpibG9nc18xNzk5MTI1NzM2NjA5NjgxNzQ4NyIFYmxvZ3MqA2FsbDIIRG9jdW1lbnQ6EVBVQkxJU0hFRF9DT05URU5U\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"Cognitive
        search: What it is & how it works (Guide for 2024)\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/cognitive-search\\\",\\\"snippets\\\":[{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"Cognitive
        search uses AI, NLP, and machine learning to understand and retrieve digital
        content, going beyond keyword matching to comprehend user intent and provide
        accurate results.\\\"},{\\\"source\\\":\\\"SEARCH_RESULT_SNIPPET\\\",\\\"snippet\\\":\\\"-learning,
        dynamically refining their algorithms as they process new data.\\\"}],\\\"updateTime\\\":\\\"2025-06-03\\\"},{\\\"id\\\":\\\"blogs_4849841338496463244\\\",\\\"trackingToken\\\":\\\"SEARCH_qbCY7ghzFVFwZFP4,CmEKF1NFQVJDSF9xYkNZN2doekZWRndaRlA0EAEaGWJsb2dzXzQ4NDk4NDEzMzg0OTY0NjMyNDQiBWJsb2dzKgNhbGwyCERvY3VtZW50OhFQVUJMSVNIRURfQ09OVEVOVEAB\\\",\\\"documentDebugInfo\\\":{},\\\"title\\\":\\\"A
        comprehensive guide to information retrieval in 2024\\\",\\\"datasource\\\":\\\"blogs\\\",\\\"url\\\":\\\"https://www.glean.com/blog/glean-information-retrieval-2024\\\",\\\"snippets\\\":[{\[...]
