interactions:
- request:
    body: '{"name":"Gemini Web Search","parameters":{"query":{"name":"query","value":"latest
      developments in artificial intelligence"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: "{\"rawResponse\":{\"result\":\"{\\\"aiWebSearch\\\":{\\\"response\\\":\\\"Here
        are some of the latest developments in artificial intelligence as of June
        5, 2025:\\\\n\\\\n**Generative AI and Large Language Models (LLMs):**\\\\n\\\\n*
        \  **Advancements in LLMs:** There's remarkable progress in generative AI,
        particularly with advanced LLMs. Meta recently released Llama 4, including
        models like Scout and Maverick, designed to handle contentious questions more
        effectively with reduced political bias. T[...]
