interactions:
- request:
    body: '{"name":"Gemini Web Search","parameters":{"query":{"name":"query","value":"machine
      learning frameworks 2025"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://test-instance-be.glean.com/rest/api/v1/tools/call
  response:
    body:
      string: '{"rawResponse":{"result":"{\"aiWebSearch\":{\"response\":\"Here are
        some of the top machine learning frameworks to consider in 2025:\\n\\n*   **TensorFlow**:
        An open-source framework developed by Google, widely used for deep learning
        and neural networks. It''s known for its flexibility, scalability, and strong
        community support, making it suitable for both research and production.\\n*   **PyTorch**:
        Another popular open-source framework, particularly favored in the research
        community due to[...]
